<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <link rel="stylesheet" href="/css/cartstyle.css">
    <title>Cart</title>
</head>
<body onload="onCartLoad();">
    <div id="cart_container" class="cart_container">
        <div class="cart_item_container">
            <div class="cart_item_image"><img src="/css/images/download.jpg" class="cart_picture"></div>
            <div class="cart_item_description"><p>Description will go in here</p></div>
            <div class="remove_button"><button type="button">remove</button></div>
        </div>
    </div>
    <script src="/css/javascript/cart.js"></script>
</body>
</html>