

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <!--- <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>Landing page</title>

    
    
  
    <link rel="stylesheet" type="text/css" href="/css/style.css">-->

</head>
<body>
   <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>-->
<div class="testcont">
    <div class="item navbar"><h1>Navbar</h1></div>
    <div class="item ad_top"><h4>Advertisement-top</h4></div>
    <div class="item ad_left"><h4>Advertisement-left</h4></div>
    <div class="item main_area">
        <div class="image image-1"><h3>image 1</h3></div>
        <div class="image image-2"><h3>image 2</h3></div>
        <div class="image image-3"><h3>image 3</h3></div>
        <div class="image image-4"><h3>image 4</h3></div>
        <div class="image image-5"><h3>image 5</h3></div>
        <div class="image image-6"><h3>image 6</h3></div>
        <div class="t_bar"><h3>A bar to show next and previous button</h3></div>

    </div>
    <div class="item ad_right"><h4>Advertisement-right</h4></div>
    <div class="item footer"><h1>Footer</h1></div>
</div>    
-->
<nav>
    <ul>
        
        <li><a href="#">Home</a></li>    
        <li><a href="#">Products</a></li>  
        <li><a href="#">Whislist</a></li>  
        <li><a href="#">Cart</a></li>  
        <li><a href="#">checkout</a></li>  

        
    </ul>
</nav>
</body>
</html>

<!--<h1>This will be landing page and we are in a new version</h1>-->

