

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
  
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <link rel="stylesheet" type="text/css" href="/css/teststyle.css">

</head>
<body>
   <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

    

        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>-->
<div class="testcont">
    <div class="item navbar">
        <nav class="bar">
            <div class="brand-title">Brand name</div>
            <a href="#" class="toggle-button">
                <span class="burg"></span>
                <span class="burg"></span>
                <span class="burg"></span>
                
            </a>
            <div class="bar-links">


    

        <ul>
            
            <li><a href="#">Home</a></li>    
            <li><a href="#">Products</a></li>  
            <li><a href="#">Whislist</a></li>  
            <li><a href="#">Cart</a></li>
            <li><a href="#">checkout</a></li>  
    
            
        </ul>

            </div>
    </nav></div>
    <div class="item ad_top"><h4>Advertisement-top</h4></div>
    <!--<div class="item ad_left"><h4>Advertisement-left</h4></div-->
    <!--<div class="item main_area">
        <div class="image image-1"><img class="picture" src="/css/images/download.jpg " alt=""></div>
        <div class="image image-2"><img class="picture" src= "/css/images/dark.jpg " alt=""></div>
        <div class="image image-3"><img class="picture" src="/css/images/download.jpg " alt=""></div>
        <div class="image image-4"><img class="picture" src="/css/images/download.jpg " alt=""></div>
        <div class="image image-5"><img class="picture" src="/css/images/download.jpg " alt=""></div>
        <div class="image image-6"><img class="picture" src="/css/images/download.jpg " alt=""></div>
    </div>-->
    <div class="item ad_top">
        <div id="tst" class="adcont"></div>
    </div>
    <!--<div class="item ad_left"><h4>Advertisement-left</h4></div-->
    <div id="imgcont" class="item main_area">
       <!--<div class="image image-1"><div><img class="picture" src="/css/images/download.jpg" alt=""></div><div>
        <div class="buttons_below_image">
            <div class="view_button"><button>View More</button></div>
            <div class="buy_button"><button>Buy</button></div>
        </div>
        <div class="desc_below_image"><p>description goes in here</p></div>
       </div></div>-->
       <!--<div class='image image-1'>
           <div class='imgpart'>
               <img class='picture' src=/css/images/download.jpg onclick='addToCart(this);'>
            </div>
            <div class='description_of_image'>
                <div class='buttons_below_image'>
                    <form action='/views' method='get'>
                        <div class='view_button'>
                            <button>View More</button>
                        </div>
                    </form>
                    <div class='buy_button' onclick='A'>
                        <button>Add To Cart</button>
                    </div>
                </div>
                <div class='desc_below_image'>
                    <p>description goes in here</p>
                </div>
            </div>
        </div>
        =======================================================================
        <div class='image image-2'>
            <div class='imgpart'>
                <img class='picture' src=/css/images/download.jpg onclick='addToCart(this);'>
             </div>
             <div class='description_of_image'>
                 <div class='buttons_below_image'>
                     <form action='/views' method='get'>
                         <div class='view_button'>
                             <button>View More</button>
                         </div>
                     </form>
                     <div class='buy_button' onclick='A'>
                         <button>Add To Cart</button>
                     </div>
                 </div>
                 <div class='desc_below_image'>
                     <p>description goes in here</p>
                 </div>
             </div>
         </div>
         <div class='image image-3'>
            <div class='imgpart'>
                <img class='picture' src=/css/images/download.jpg onclick='addToCart(this);'>
             </div>
             <div class='description_of_image'>
                 <div class='buttons_below_image'>
                     <form action='/views' method='get'>
                         <div class='view_button'>
                             <button>View More</button>
                         </div>
                     </form>
                     <div class='buy_button' onclick='A'>
                         <button>Add To Cart</button>
                     </div>
                 </div>
                 <div class='desc_below_image'>
                     <p>description goes in here</p>
                 </div>
             </div>
         </div>
         <div class='image image-4'>
            <div class='imgpart'>
                <img class='picture' src=/css/images/download.jpg onclick='addToCart(this);'>
             </div>
             <div class='description_of_image'>
                 <div class='buttons_below_image'>
                     <form action='/views' method='get'>
                         <div class='view_button'>
                             <button>View More</button>
                         </div>
                     </form>
                     <div class='buy_button' onclick='A'>
                         <button>Add To Cart</button>
                     </div>
                 </div>
                 <div class='desc_below_image'>
                     <p>description goes in here</p>
                 </div>
             </div>
         </div>-->

        
       <!--<div class="image image-1"><img class="picture" src="/css/images/download.jpg" alt=""></div>
       <div class="image image-1"><img class="picture" src="/css/images/download.jpg" alt=""></div>
       <div class="image image-1"><img class="picture" src="/css/images/download.jpg" alt=""></div>
       <div class="image image-1"><img class="picture" src="/css/images/download.jpg" alt=""></div>
       <div class="image image-1"><img class="picture" src="/css/images/caveman.jpg" alt=""></div>
       <div class="image image-1"><img class="picture" src="/css/images/citylights.jpg" alt=""></div>
        <div class="image image-2"><img class="picture" src="/css/images/caveman.jpg" alt=""></div>
        <div class="image image-3"><img class="picture" src="/css/images/marble1.jpg" alt=""></div>
        <div class="image image-4"><img class="picture" src="/css/images/lakeside.jpg" alt=""></div>
        <div class="image image-5"><img class="picture" src="/css/images/citylights.jpg" alt=""></div>
        <div class="image image-6"><img class="picture" src="/css/images/citylights.jpg" alt=""></div>-->
        


    </div>
    
    <!--<div class="item ad_right"><h4>Advertisement-right</h4></div-->
    
    <div class="item footer"><div class="t_bar"><div class="next_previous">
        <div class="prev_btn"><button onclick="popFromStack()">prev</button></div>
        <div class="show_page_num"><span id="page_num"></span></div>
        <div class="next_btn"><button onclick="pushToStack()">next</button></div>

    </div></div><h1>Footer</h1></div>
    
</div>
<script src="/css/javascript/test.js"></script> 
<script src="/css/javascript/cart.js"></script> 
</body>
</html>


