.adcont{
    display: flex;
    justify-content: space-evenly;

}
.testclass{
    border-width: 10px;
    border: 1px solid black;
    color: tomato;
}
.testclass:hover{
    background-color: teal;
}
